body {
  text-align: center;
  color: #383B3D;
  background-color: rgb(137, 105, 140);
}

#page-header a img {
  width: 75px;
}

#game-div, #pig {
  display: none;
}
.col-md-4 {
display: block;
 margin: auto;
 border-style: outset;
 border-width: 5px;
}

#roll, #hold {
  margin: 15px 100px;
  border-radius: 100%;
  border-width: 5px;
  border-style: outset;
  box-shadow: 5px 10px rgb(79, 61, 80);
  padding: 10px 5px;
  background-color: #228f18;
}

#roll {
  cursor: url("../img/die.png"), pointer;
}

#hold {
  cursor: url("../img/piggybank.png"), pointer;
}

#pig {
  padding: 100px;
  color: white;
  background-image: url("../img/clover.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#page-header {
  background-color: white;
  color: #383B3D;
}

.current-player {
  border-radius: 100%;
  border-width: 5px;
  border-style: outset;
  border-color: #228f18;
}

#player0display, #player1display {
  padding-top: 10px;
}

.dice {
  display: none;
  width: 100px;
}
